*{
    padding:0;
    margin:0;
}


/* ------------nav------------ */
.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(176, 176, 176);
}

.navlogo{
    width: 100px;
}

.navcontainer h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}


.navcontainer2{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.navcontainer2-item{
    background-color: rgb(196, 80, 13);
    width: 60px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navcontainer2-item:visited{
    color: white;
}

.navcontainer2-item:hover{
    color: rgb(175, 175, 175);
}

.hamburger{
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

@media (max-width:750px){
    .navlogo{
        width: 70px;
    }

    .navcontainer h1{
        font-size: 1.5rem;
    }
    .navcontainer2{
        display: none;
    }

    .hamburger{
        display: flex;
    }
}

/* Styling for elements with the 'container' */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 700px; 
    margin:50px 20px;
}

.image{
    width: 550px;
    margin-left: 70px;
}

.content{
    margin-right: 70px;
}

form{
    width: 500px;
    margin:0 auto;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.label{
    float: left;
    margin-right: 20px;
    width: 135px;
    border-left: solid 3px palevioletred;
    padding-left: 10px;
    
}
@media (max-width:880px){
    .container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .container-item-1{
        margin:0 auto ;
    }
    .image{
        width: 400px;
        margin-left: 0px;
    }
    .content{
        margin-right: 0px;
    }
    .content form{
        padding-left: 90px;
    }
    .item{
        font-size: 1.4rem;
    }
}


@media (max-width:750px){
    .container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        height: auto;
        margin: auto
    }

    .image{
        width: 300px;
        padding-top: 40px;
    }

    .content form{
        padding-left: 10px;
    }
    .content{
        width: auto;
        height: auto;
    }
    .item{
        font-size: 1rem;
    }

    form{
        padding: 10px;
        width: auto;
        margin:0 auto;
    }
}

/* -------------------footer----------------------*/

footer{
    height: 150px;
    border-top: 2px solid rgb(176, 176, 176);
    text-align: right;
    padding-right: 100px;
}

@media (max-width:750px){
    footer{
        height: 90px;
        padding-right: 0px;
    }
}
