*{
    padding:0;
    margin:0;
}
/*----------------nav--------------------*/
.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(176, 176, 176);
}

.navlogo{
    width: 100px;
}

.navcontainer h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}


.navcontainer2{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.navcontainer2-item{
    background-color: rgb(196, 80, 13);
    width: 60px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navcontainer2-item:visited{
    color: white;
}

.navcontainer2-item:hover{
    color: rgb(175, 175, 175);
}

.hamburger{
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

@media (max-width:750px){
    .navlogo{
        width: 70px;
    }

    .navcontainer h1{
        font-size: 1.5rem;
    }
    .navcontainer2{
        display: none;
    }

    .hamburger{
        display: flex;
    }
}

/* Styling for elements with 'container' */
.lead-form{
    text-align: center;
    font-size: 20px;
    margin: 50px;
}

form{
    width: 460px;
    margin:0 auto;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
}

.label{
    float: left;
    width: 200px;
    border-left: solid 3px #e0505d;
    padding-left: 10px;
}

.inputs{
    float: right;
    width: 300px;
  
}

input[type="text"],input[type="email"],input[type="number"],input[type=""]{
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;

}

textarea{
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
}

.btn-area{
    text-align: center;
    margin: 35px auto;
}

input[type="submit"]{
    background-color: #e0505c;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 5px;
}

input[type="reset"]{
    background-color: #aaa;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 27.5px;
    margin: 0 5px;  
}

.btn-area{
    display: flex;
    justify-content: center;

}

@media (max-width:750px){
    form{
        width:auto
    }
    
    .item{
        padding-left: 10px;
        width: 350px;
    }

    .label{
        margin-bottom: 10px;
    }

    .imputs{
       width: 200px;
    }

    .btn-area{
        display: flex;
        justify-self: center;
    }

    input[type="submit"]{
        margin-bottom: 5px;
    }

}


/* -------------------footer----------------------*/

footer{
    height: 150px;
    border-top: 2px solid rgb(176, 176, 176);
    text-align: right;
    padding-right: 100px;
}

@media (max-width:750px){
    footer{
        height: 90px;
        padding-right: 0px;
    }
}


