*{
    padding:0;
    margin:0;
}


/* Styling for elements with 'nav' - Top*/
nav{
    border-bottom: 10px solid gray;;
    height: 150px;
    margin:0px;
    overflow: hidden;
}

.logoPhoto{
    float:left;
    width: 30%;
    height: 150px;
}

.brandName{
    width:40%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    float:left;
    overflow: hidden;
}



.btns{
    float: left;
    width:30%;
    text-align: right; 
    padding-top: 90px;  
}
.btn1, .btn2{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #eb6100;
}

a{
    color: black;
    text-decoration-line: none;
}

/* Styling for elements with the 'container' */
.container{
    overflow: hidden;
    width: 800px;
    height: 700px;
    margin:30px auto;
}

.image{
    width:40%;
    float:left;
}

.content{
    width: 60%;
    float:left;
}

form{
    width: 460px;
    margin:0 auto;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
}

.label{
    float: left;
    margin-right: 20px;
    width: 135px;
    border-left: solid 3px chocolate;
    padding-left: 10px;
}

footer{
    height: 150px;
    border-top: 10px solid grey;
    text-align: right;
}