*{
    padding:0;
    margin:0;
}

/* Styling for elements with 'nav' - Top*/
.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(176, 176, 176);
}

.navlogo{
    width: 100px;
}

.navcontainer h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}


.navcontainer2{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.navcontainer2-item{
    background-color: rgb(196, 80, 13);
    width: 60px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navcontainer2-item:visited{
    color: white;
}

.navcontainer2-item:hover{
    color: rgb(175, 175, 175);
}

.hamburger{
    display: none;
}

.sp-link{
    display: none;
}

.hamburger-hidden{
    display: none;
}

@media (max-width:750px){
    .navlogo{
        width: 70px;
    }

    .navcontainer h1{
        font-size: 1.5rem;
        margin-right: 150px;
    }
    .navcontainer2{
        display: none;
    }

    .sp-link{
        display: block;
    }


    .hamburger-open {
        position: fixed;  /* 位置を固定 */
        top: 0;  /* 最上部 */
        right: 0rem;  /* 右端 */
        /* 中の要素を上下中央寄せ */
        display: flex;
        justify-content: center;
        align-items: center;
        /* サイズ指定 */
        height: 70px;
        width: 70px;
        z-index: 100;
        cursor: pointer;
    }

    .hamburger-open span,         /* 真ん中の線 */
    .hamburger-open span:before,  /* 上の線 */
    .hamburger-open span:after {  /* 下の線 */
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #333333;
        transition: .2s;
        /* 3本線の位置は絶対位置で指定 */
        position: absolute;
        }
    /* 上の線の位置 */
    .hamburger-open span:before {
        /* 真ん中の線と離す距離 */
        bottom: 8px;
    }
    /* 下の線の位置 */
    .hamburger-open span:after {
        /* 真ん中の線と離す距離 */
        top: 8px;
    }

    #hamburger-check:checked ~ .hamburger-open span {
        background: rgba(255, 255, 255, 0);
    }

    #hamburger-check:checked ~ .hamburger-open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #hamburger-check:checked ~ .hamburger-open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューのデザイン*/
    .hamburger-content {
        width: 100%;
        height: 20%;
        position: fixed;
        top: 0;
        left: 100%;/* メニューを画面の外に飛ばす */
        z-index: 99;
        transition: .2s;
        margin-top: 3.5rem;
    }

    .hamburger-link li{
        margin-top: 0.5rem;
    }

    .hamburger-link a {
        display: inline-block;
        font-size: 13px;
        /* border-radius: 50%; */
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    #sp-link-1 a {
        background-color: rgba(122, 222, 233, 0.7);
        color: white;
        text-decoration: none;
    }

    #sp-link-2 a {
        background-color: rgba(89, 127, 192, 0.7);
        color: white;
        text-decoration: none;
    }

    #sp-link-3 a {
        background-color: rgba(71, 76, 183, 0.5);
        color: white;
        text-decoration: none;
    }

    /* アイコンがクリックされたらメニューを表示 */
    #hamburger-check:checked ~ .hamburger-content {
    left: 70vw;/* メニューを画面に入れる */
    }

    .sp-links {
        display: block;
    }

}

/* Styling elements with the 'container'-Middle */
.container{
    text-align: center;
    margin: 0px auto;
}

input[type="radio"] {
    display: none;
}

.container label {
    margin-left:40px;
}

.container label:nth-child(2) {
    color:palevioletred;
    font-size: 1.3rem;
}

.container label:nth-child(4){
    color:coral;
    font-size: 1.3rem;
}

.container label:nth-child(6){
    color:chocolate;
    font-size: 1.3rem;
    margin-right:23%;
}

.cat-type,
.dog-type,
.hamster-type { 
    display: none;
}

.cat-type li,
.dog-type li,
.hamster-type li {
    float:left;
    font-size: 18px;
    margin:1rem 0rem 0rem 5rem;
}

#cat-check:checked ~ .cat-type{
    display: block;
}

#cat-check:checked ~ .main-photo,
#cat-check:checked ~ .banner,
#dog-check:checked ~ .main-photo,
#dog-check:checked ~ .banner,
#hamster-check:checked ~ .main-photo,
#hamster-check:checked ~ .banner{
    display: none;
}

#cat-check:checked ~ #cats {
    display:grid;
}

#dog-check:checked ~ .dog-type{
    display: block;
}

#dog-check:checked ~ .dogs{
    display: grid;
}

#hamster-check:checked ~ .hamster-type{
    display: block;
}

#hamster-check:checked ~ .hamsters{
    display: grid;
}

a{
    color: black;
    text-decoration-line: none;
}

.animals {
    display: grid;
    grid-template-columns: repeat(3,33vw);
    grid-template-rows: 5vh repeat(3,30vh);
    grid-template-areas: 
    "type type type"
    "animal1 animal2 animal3"
    "animal4 animal5 animal6";
    gap:1rem;
    margin-bottom: 50px;
    margin-top:60px;
}

.animals {
    display:none;
}

#cats div:nth-child(2) {
    grid-area: animal1;
}

#cats div:nth-child(3) {
    grid-area: animal2;
}

#cats div:nth-child(4) {
    grid-area: animal3;
}

#cats div:nth-child(5) {
    grid-area: animal4;
}

#cats div:nth-child(6) {
    grid-area: animal5;
}

#cats div:nth-child(7) {
    grid-area: animal6;
}

.petPhoto img{
    width:250px;
    height:250px;
    border-radius: 70%;
    margin: 20px;
}

.dogs div:nth-child(2) {
    grid-area: animal1;
}

.dogs div:nth-child(3) {
    grid-area: animal2;
}

.dogs div:nth-child(4) {
    grid-area: animal3;
}

.dogs div:nth-child(5) {
    grid-area: animal4;
}

.dogs div:nth-child(6) {
    grid-area: animal5;
}

.dogs div:nth-child(7) {
    grid-area: animal6;
}

.hamsters div:nth-child(2) {
    grid-area: animal1;
}

.hamsters div:nth-child(3) {
    grid-area: animal2;
}

.hamsters div:nth-child(4) {
    grid-area: animal3;
}

#cats h1{
    border-left: solid 10px palevioletred;
    grid-area: type;
}

.dogs h1{
    border-left: solid 10px coral;
    grid-area: type;
}

.hamsters h1{
    border-left: solid 10px chocolate;
    grid-area: type;
}

/* Styling elements with the 'footer'-Bottom */
footer{
    height: 150px;
    border-top: 2px solid rgb(176, 176, 176);
    text-align: right;
    padding-right: 100px;
}

.main-photo,
.main-banner {
    width:100%;
    height:auto;
}

.banner {
    border-top: 3px solid black;
}
.banner p {
    margin-right:15%;
    font-size: 4.5vmin;
}

@media (max-width:750px){

    .main-photo {
    width:100%;
    height:50vh;
    }
    .animals{
        grid-template-columns: 10vw 68vw 10vw;
        grid-template-rows: 5vh repeat(6,35vh);
        grid-template-areas: 
        "type type type"
        ". animal1 ."
        ". animal2 ."
        ". animal3 ."
        ". animal4 ."
        ". animal5 ." 
        ". animal6 .";
        gap:1rem;
        text-align: center;
        margin-bottom: 50px;
        margin-top:100px;
    }   

    footer{
        height: 90px;
        padding-right: 0px;
    }
}