*{
    padding:0;
    margin:0;
}


/* ------------nav------------ */
.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(176, 176, 176);
}

.navlogo{
    width: 100px;
}

.navcontainer h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}


.navcontainer2{
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.navcontainer2-item{
    background-color: rgb(196, 80, 13);
    width: 60px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navcontainer2-item:visited{
    color: white;
}

.navcontainer2-item:hover{
    color: rgb(175, 175, 175);
}

.hamburger{
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

@media (max-width:750px){
    .navlogo{
        width: 70px;
    }

    .navcontainer h1{
        font-size: 1.5rem;
    }
    .navcontainer2{
        display: none;
    }

    .hamburger{
        display: flex;
    }
}
/* ------------who we are css------------ */
.introduction{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.intro-img-item{
    margin: 10px auto;
}
.intro-img-item img {
    width: 100%;
    max-width: 690px;
}
 
.comment{
    text-align: center;
    padding:30px 150px;
}

.comment h1{
    font-size: 2rem;
    border-bottom: 2px solid rgb(125, 125, 125);
    margin-bottom: ;
}

.comment p{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
}

@media (max-width:750px){

    .intro-img-item{
        margin: 0px auto;
    }
    
    .intro-img-item img{
        width: 100%;
    }
    .aboutus{
        font-size: 25px;
    }
    .comment{
        margin-top: 10px 10px;
        padding: 0px;
    }

    .comment h1{
        font-size: 1.5rem;
        border-bottom: 2px solid rgb(125, 125, 125);
        
    }
    .comment p{
        font-size: 0.9rem;
    }
}

/* -------------------footer----------------------*/

footer{
    height: 150px;
    border-top: 2px solid rgb(176, 176, 176);
    text-align: right;
    padding-right: 100px;
}

@media (max-width:750px){
    footer{
        height: 90px;
        padding-right: 0px;
    }
}

